@page "/DeleteInscription/{InscriptionId}"


<p>
    <h2>
        Are yous Sure yous want to delete this inscription <br />
    </h2>
</p>

<button class="btn btn-primary" @onclick="Yes">Yes</button>
<button class="btn btn-danger" @onclick="No">No</button>