@page "/"

<div class="container-fluid">

    <div class="row">
        <button type="submit" class="btn btn-danger" @onclick="Drop">Drop Database</button>
    </div>

    <div class="row"><p></p> </div>

    <div class="row col-md-3">
        <label for="numberFamilyToCreate">Number of family to create</label>
        <input type="number" class="form-control" id="numberFamilyToCreate" @bind="NumberFamilyToCreate" />
    </div>

    <div class="row col-md-3">
        <label for="numberChildrenToCreate">Number of Children by Family to create</label>
        <input type="number" class="form-control" id="numberChildrenToCreate" @bind="NumberChildToCreateByFamily" />
    </div>

    <div class="row col-md-3">
        <label for="numberParentToCreate">Number of Parent by Family to create</label>
        <input type="number" class="form-control" id="numberParentToCreate" @bind="NumberParentToCreateByFamily" />
    </div>

    <div class="row col-md-3">
        <label for="numberInscriptionToCreate">Number of Inscription by Child to create</label>
        <input type="number" class="form-control" id="numberInscriptionToCreate" @bind="NumberInscriptionToCreateByChild" />
    </div>

    <div class="row"><p></p> </div>

    <div class="row col-md-3">
        <button type="submit" class="btn btn-primary" @onclick="CreateAll">Submit</button>
    </div>

    <div class="row col-md-3">
        <div>Number TOTAL of inscriptions in database : @CountInscriptions</div>
    </div>
</div>



