@page "/deleteFamily/{Id}"

<p>
    <h2>
        Are yous Sure yous want to delete this family <br />
        and all the children and all the parents concerned ?
    </h2>
</p>

<button class="btn btn-primary" @onclick="Yes">Yes</button>
<button class="btn btn-danger" @onclick="No">No</button>