@page "/deleteChild/{ChildId}"

<p>
    <h2>
        Are yous Sure yous want to delete this child <br />
        and all the inscriptions concerned ?
        and update his family ? 
    </h2>
</p>

<button class="btn btn-primary" @onclick="Yes">Yes</button>
<button class="btn btn-danger" @onclick="No">No</button>