@page "/deleteParent/{ParentId}"

<p>
    <h2>
        Are yous Sure yous want to delete this parent <br />
    </h2>
</p>

<button class="btn btn-primary" @onclick="Yes">Yes</button>
<button class="btn btn-danger" @onclick="No">No</button>